.wrapper.about {
    color: white;
    background-image: url('../assets/desktop_about.svg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    padding: 60px;
}

@media (min-width: 50em) {

    .about {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aboutBody {
        width: 60%;
        padding: 0;
        background-color: transparent;
    }


}   