.contact {

    background-image: url('../assets/earth.png');
    background-repeat: no-repeat;
    background-position-y: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

    form {
        display: flex;
        align-items: center;        
        flex-direction: column;
        justify-content: center;
        
        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            label {
                font-size: 0.6em;
                margin-top: 1em;
            }

            input {
                border-radius: 8px;
                border: 1px solid black;
                padding: 0.25em;
            }            
        }
        
    
        button {
            border-radius: 32px;
            border: none;
            padding: 15px 30px;
            background-color: $ctaTwo;
            color: white;
            margin-top: 1em;
            font-size: 0.65em;
        }

        button.submitted {
            background-color: $darkOutline;
        }

    } 
}

@media (min-width: 750px) {

    .contact {
        background-image: url('../assets/desktop_contact.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: top;
        background-attachment: scroll;
        padding: 30px;
        
        form {
            border: 1px solid $darkOutline;
            border-radius: 50%;
            min-width: 450px;
            min-height: 450px;
        }
    }
}
