.wrapper.home {
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
        margin:  30px 30px 0;

        h1 {
            line-height: 1.2em;
        }

        p {
            margin-top: 0.6em;
        }
    }
}

    
