.wrapper.home {
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
        margin: 30px;

        h1 {
            line-height: 1.2em;
        }

        p {
            margin-top: 1.2em;
        }
    }
}

    nav {
        position: relative;
        border-radius: 100% 0 0 0;
        width: 90%;
        height: 50vh;
        align-self: flex-end;
        justify-self: flex-end;
        padding: 30px;
    
        .active, a:hover {
            border-bottom: 2px solid $ctaOne;
            cursor: pointer;
        }
    }
