.wrapper.home {
    background-image: url('../assets/desktop_home.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;;

        h1 {
            line-height: 1.2em;
        }

        p:last-child {
            position: relative;
            z-index: 30;
        }
}